.facility {
    min-height: 95vh;
    min-height: 95svh;
    background-image: url('../assets/images/banner_facilities.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10rem;
    position: relative;
}

.facility > h1 {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: var(--parkway-white);
    background-color: var(--parkway-banner-bg);
    margin: 0;
    padding: 1rem 0rem;
}

.breadcrumb {
    padding: 1rem 0rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--parkway-black);
    border-bottom: 1px solid var(--parkway-stroke);
}

.breadcrumb a {
    text-decoration: none;
}

.breadcrumb span {
    color: var(--parkway-breadcrumb);
}

.reach {
    text-align: center;
    padding: 2.5rem 0rem 0rem;
    font-size: 1.25rem;
    font-weight: 600;
}

.reach a {
    text-decoration: none;
    position: relative;
}

.reach a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 0.05em;
    bottom: 0;
    left: 0;
    background: var(--parkway-light-saffron);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.reach a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.reach span {
    color: var(--parkway-light-saffron);
}

.details > p {
    text-align: center;
    font-weight: 600;
    font-size: 1.45rem;
    padding: 3rem 0rem 1rem;
}

.facilities {
    padding: 1.5rem 0rem;
}

.facilities .details {
    max-width: 85%;
    margin: 1rem auto;
    overflow: hidden;
}

.facility_card {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.inverted_card {
    flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
}

.facility_card > h2 {
    color: var(--parkway-black);
    flex: 1;
}

.facility_card > h2 > span {
    font-size: 0.75rem;
}

.facility_card .arrow {
    padding: 0rem 2rem;
}

.facility_card .inverted_arrow {
    transform: rotate(180deg);
}

.facility_card img {
    padding: 0.5rem;
    border: 1px solid transparent;
    opacity: 0.65;
    transition: opacity 0.2s ease-in-out;
    max-width: 100%;
    height: auto;
}

.facility_card img:hover {
    opacity: 1;
    border-color: var(--parkway-black);
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .facilities .details {
        max-width: 100%;
    }

    .facility_card {
        flex-direction: column;
        padding: 2rem 0rem;
        text-align: center;
    }

    .facility_card .arrow {
        display: none;
    }

    .facility {
        min-height: 60vh;
        min-height: 60svh;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1399px) {
    .inverted_card {
        flex-direction: row;
        -ms-flex-direction: row;
    }

    .facility_card .inverted_arrow {
        transform: rotate(0deg);
    }

    .facility_card .arrow {
        flex: 1;
    }
}
