.footer {
    background-color: var(--parkway-black);
    padding: 4rem 0rem;
}

.footer :is(h2, p) {
    color: var(--parkway-light-white);
}

.footer a {
    all: unset;
    cursor: pointer;
    color: var(--parkway-light-white);
}

.footer span {
    color: var(--parkway-red);
    position: relative;
}

.footer span:hover {
    cursor: pointer;
    text-decoration: underline;
}
