.footer {
    background-color: var(--parkway-black);
    padding: 3.5rem 0rem 1rem;
}

.footer :is(h2, p) {
    color: var(--parkway-light-white);
}

.footer a {
    all: unset;
    cursor: pointer;
    color: var(--parkway-light-white);
}

.footer span a {
    color: var(--parkway-red);
    position: relative;
}

.footer span a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    padding: 1rem 0rem;
}

.icon a {
    text-decoration: none;
    border: 1px solid var(--parkway-white);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.icon::before {
    content: '';
    height: 2px;
    width: 70%;
    background-color: var(--parkway-footer);
    position: absolute;
    top: 0;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.footer_container > div:first-child {
    max-width: 30%;
}

@media only screen and (max-width: 767px) {
    .footer_container {
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer_container > div:first-child {
        max-width: 100%;
    }

    .footer_container > div:first-child p {
        width: 100%;
    }
}
