:root {
    --parkway-primary: #3399f9;
    --parkway-secondary: #548daf;
    --parkway-tertiary: #11a4df;
    --parkway-white: #ffffff;
    --parkway-black: #000000;
    --parkway-saffron: #943e3e;
    --parkway-dark-saffron: #950808;
    --parkway-light-saffron: #881616;
    --parkway-red: #e73b3b;
    --parkway-text-link: #0084ff;
    --parkway-light-black: #404142;
    --parkway-light-white: #efefef;
    --parkway-light-grey: #f3f1f1;
    --parkway-dark-grey: #5b5b5b;
    --parkway-gray: #777374;
    --parkway-grey: #ebebeb;
    --parkway-view-more: #1284a1;
    --parkway-banner-bg: rgba(72, 176, 238, 0.5);
    --parkway-stroke: #707070;
    --font-papyrus: 'Papyrus';
    --font-agency: 'Agency', arial;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--font-papyrus);
}

a {
    color: inherit;
    text-decoration: none;
}

@font-face {
    font-family: var(--font-papyrus);
    src: url('/fonts/PAPYRUS.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: var(--font-agency);
    src: url('/fonts/AgencyFB.ttf') format('truetype');
    font-display: swap;
}

.gallery-slider {
    position: relative;
}

.gallery-slider .swiper-slide {
    transition: all 0.3s ease-in-out;
}

.gallery-slider .swiper-slide-active {
    border: 1px solid var(--parkway-dark-grey);
    padding: 1rem;
}

.gallery-slider .swiper-slide-prev,
.gallery-slider .swiper-slide-next {
    scale: 0.75;
    opacity: 0.7;
}

.gallery-slider .swiper-button-prev:after,
.gallery-slider .swiper-button-next:after {
    background-color: var(--parkway-black);
    color: var(--parkway-white);
    font-size: 14px;
    border-radius: 16px;
    font-weight: bold;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-preview {
    max-width: 50%;
    margin: 3rem 0rem;
}
