.navbar {
    position: sticky;
    top: 0;
    z-index: 9;
    transition: all 0.3s ease-in-out;
}

.navbar_scroll {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

.middleLink {
    color: var(--parkway-white);
    text-decoration: none;
    font-weight: 700;
    font-size: 1.25rem;
    position: relative;
    font-family: var(--font-agency);
}

.middleLink:hover {
    color: var(--parkway-primary);
}

.active {
    color: var(--parkway-primary);
    border-bottom: 1px solid var(--parkway-primary);
}

.middleLink::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 0.05em;
    bottom: 0;
    left: 0;
    background: var(--parkway-primary);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.middleLink:not(.active):hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.icons {
    align-items: center;
    gap: 0.5rem;
}

.icons > a {
    background-color: var(--parkway-white);
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.line {
    width: 40px;
    height: 5px;
    background-color: var(--parkway-white);
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.toggleBtn {
    outline: none;
    border: 1px solid var(--parkway-white);
}

.toggleBtn:focus {
    box-shadow: none;
}

.hamburger.is_active {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.hamburger.is_active .line:nth-child(2) {
    width: 0px;
}

.hamburger.is_active .line:nth-child(1),
.hamburger.is_active .line:nth-child(3) {
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.hamburger.is_active .line:nth-child(1) {
    -webkit-transform: translateY(13px);
    -ms-transform: translateY(13px);
    -o-transform: translateY(13px);
    transform: translateY(13px);
}

.hamburger.is_active .line:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(90deg);
    -ms-transform: translateY(-13px) rotate(90deg);
    -o-transform: translateY(-13px) rotate(90deg);
    transform: translateY(-13px) rotate(90deg);
}
