.home {
    min-height: 100vh;
    min-height: 100svh;
    background-image: url('../assets/images/banner_home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10rem;
}

.details {
    padding: 2rem 0rem;
}

.details > h1,
.details > p {
    color: var(--parkway-white);
    margin: 0;
}

.details > p {
    padding: 22px 0px 42px;
}

.btn {
    padding: 1rem 0rem;
    background-color: var(--parkway-secondary);
    border-radius: 2rem;
    color: var(--parkway-white);
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    width: 206px;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.7;
    color: var(--parkway-white);
}

.tags {
    padding: 3.5rem 0rem;
    background-color: var(--parkway-light-grey);
}

.tagCard {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 0rem;
}

.tagDetails {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.tagDetails > p {
    margin: 0;
}

.tagBtn {
    color: var(--parkway-view-more);
    position: relative;
}

.tagBtn::after {
    content: '';
    position: absolute;
    width: 50%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 0.05em;
    bottom: 0;
    left: 0;
    background: var(--parkway-primary);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.tagBtn:hover {
    cursor: pointer;
}

.tagBtn:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.tagImg {
    max-height: 99px;
    max-width: 99px;
}

.welcome {
    background-color: var(--parkway-white);
    padding: 5rem 0rem;
}

.welcome > div {
    text-align: center;
}

.welcome > div > h1 {
    color: var(--parkway-light-black);
    font-size: 2.5rem;
    padding-bottom: 18px;
    margin: 0;
}

.welcome > div > p:first-child {
    font-family: var(--font-agency);
    color: var(--parkway-dark-grey);
    padding-bottom: 1.5rem;
    font-weight: bold;
    font-size: 1.25rem;
}

.welcome > div > p:last-child {
    font-size: 1.5rem;
}

.welcome > div > p:last-child span {
    color: var(--parkway-secondary);
}

.auto_slider {
    background-color: var(--parkway-light-grey);
    padding: 3rem 0rem;
    overflow: hidden;
}

.slide_image {
    padding: 1rem;
    border: 1px solid transparent;
}

.slide_image:last-child {
    animation-delay: 15s;
}

.slide_image:hover {
    border-color: var(--parkway-black);
}

.slide_image > p {
    text-align: center;
    font-size: 1.25rem;
    margin: 0;
    padding: 1rem 0rem 1.5rem;
}

.slider {
    width: 100%;
    display: flex;
}

.mission {
    background-color: var(--parkway-white);
    padding: 3.75rem 0rem;
}

.mission_details {
    text-align: center;
    padding: 0rem 5.75rem;
    align-self: center;
}

.mission_details p {
    padding: 1rem 0rem;
    margin: 0;
    font-size: 1.125rem;
}

.mission_details p span {
    color: var(--parkway-saffron);
}

.mission_details p .link {
    color: var(--parkway-text-link);
    cursor: pointer;
}

.mission_details p .link:hover {
    text-decoration: underline;
}

.gallery {
    background-color: var(--parkway-white);
}

.gallery > h1 {
    text-align: center;
}

.reach {
    padding: 3.5rem 0rem;
    background-color: var(--parkway-light-grey);
}

.reach > div :is(h1, h2, p) {
    text-align: center;
}

.reach textarea {
    resize: none;
}

.reach button {
    outline: none;
    border: none;
    color: var(--parkway-light-white);
    background-color: var(--parkway-tertiary);
    border-radius: 1rem;
    font-size: 1.5rem;
    padding: 0.5rem 0rem;
    transition: opacity 0.3s ease-in-out;
}

.reach button:hover {
    cursor: pointer;
    opacity: 0.7;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .mission_details {
        padding: 1rem 2rem;
    }
}
