.services {
    min-height: 60vh;
    min-height: 60svh;
    background-image: url('../assets/images/banner_services.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10rem;
    position: relative;
}

.services > h1 {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: var(--parkway-white);
    background-color: var(--parkway-banner-bg);
    margin: 0;
    padding: 1rem 0rem;
}

.breadcrumb {
    padding: 1rem 0rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--parkway-black);
    border-bottom: 1px solid var(--parkway-stroke);
}

.breadcrumb a {
    text-decoration: none;
}

.breadcrumb span {
    color: var(--parkway-breadcrumb);
}

.service {
    background-color: var(--parkway-grey);
    padding: 1.5rem 0rem;
}

.highlight {
    color: var(--parkway-black);
    text-align: center;
    font-size: 2.25rem;
    background-color: var(--parkway-white);
    border: 2px solid var(--parkway-stroke);
    border-radius: 30px;
    padding: 1.5rem 0rem;
    margin: 3rem auto;
    box-shadow: 0px 6px 12px -6px var(--parkway-black);
    max-width: 75%;
}

.service_para {
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0.5rem 0rem;
    text-align: center;
}

.service_highlights {
    background-color: var(--parkway-white);
    padding: 1rem 0rem;
}

.reach {
    text-align: center;
    padding: 2.5rem 0rem 0rem;
    font-size: 1.25rem;
    font-weight: 600;
}

.reach span {
    color: var(--parkway-light-saffron);
}

.reach a {
    text-decoration: none;
    position: relative;
}

.reach a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 0.05em;
    bottom: 0;
    left: 0;
    background: var(--parkway-light-saffron);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.reach a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.service_highlights > div > h1 {
    text-align: center;
    font-weight: 600;
    padding: 4rem 0rem 0rem;
}

.service_container {
    padding: 3rem 0rem;
    overflow: hidden;
}

.service_item {
    display: flex;
    gap: 1.25rem;
    align-items: center;
}

.service_item svg {
    flex-shrink: 0;
}

.service_item p {
    color: var(--parkway-black);
    margin: 0;
    text-align: justify;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .highlight {
        max-width: 100%;
        font-size: 1.5rem;
    }
}
